h2{
	font-family:cursive;
	margin-top:40px;
}
span{
	font-weight:bold;
}
.line{
	width:770px;
	margin-top:-20px;
	border:2px solid #696969;
}
*{
	background-color:#DCDCDC;
}
#top{
	margin-left:300px;
}
p{
	font-family:Garamond;
}
.email{
	margin-top:-15px;
}
.desc{
	font-style:italic;
}
img{
	padding:5px 5px 5px 5px;
	border: 3px solid #A9A9A9;
	margin-top:-50px;
	margin-right:50px;
	width:200px;
	height:300px;
	position:relative;
	float:right;
	-ms-transform: rotate(-5deg); /* IE 9 */
    	-webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    	transform: rotate(-5deg);
}
#edu{
	width:300px;
	height:200px;
	float:left;
}
#edu{
	margin-left:380px;
	display:inline;
	float:left;
}
.uwi{
	float:right;
	display:inline-block;
}
.separate{
	width:100px;
	border: 1px solid #696969;
    	-ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    	transform: rotate(90deg);
    	float:left;
    	margin-top:70px;
    	margin-bottom:-160px;
    	margin-left:-30px;
    	margin:right:-60px;
}
.title{
	float:left;
}
#skill{
	margin-top:-80px;
	margin-left:412px;
	display:inline;
	float:left;
}
.skills{
	margin-left:-40px;
	float:right;
	display:inline-block;
}
#exp{
	margin-left:373px;
	margin-top:20px;
	display:inline;
	float:left;
}
.exps,ul{
	margin-left:-40px;
	float:right;
	display:inline-block;
}
ul{
	margin-left:-20px;
	margin-top:-10px;
}
#hobbie{
	margin-left:392px;
	margin-top:20px;
	display:inline;
	float:left;
}
.fun{
	margin-left:-40px;
	float:right;
	display:inline-block;
}
#ref{
	margin-left:380px;
	margin-top:50px;
	display:inline;
	float:left;
}
.refs{
	margin-left:-40px;
	float:right;
	display:inline-block;
}
ul.digi{
	margin-right:30px;
}
